# Hugo build output goes here
public/

# Hugo puts page resources (e.g. images) here
resources/

__pycache__/

# VS Code settings
# .vscode/

# Python virtual environments
env/
.venv/

# LibreOffice temp files
.~lock.*

# MacOS thingies
.DS_Store

# Environment file which has sensitive Algolia admin key
.env

# npm libs
node_modules/

# KiCad files
sym-lib-table
*.sch-bak
*.pro