<!--
  If URL starts with http://, open link in new page.
  Relative links (within blog) will be opened in same page.
  Supports the syntax:
  [<url_text>](<url> "<url_title>")
  
  WARNING: Do not pass .Text to markdownify, this will result in URLs which use the URL for both the src and text to become nested! htmlUnescape has been
  added to that " and ' in the text do not get converted to &ldquo; e.t.c.
  ALSO: Don't put a new line between the end of this comment and the start of the HTML, is causes a space to be inserted at the start of the link!
--><a href="{{ .Destination | safeURL }}"{{ with .Title}} title="{{ . }}"{{ end }}{{ if or (strings.HasPrefix .Destination "http") (strings.HasPrefix .Destination "https") }} target="_blank"{{ end }}>{{ htmlUnescape .Text }}</a>