figcaption {
    font-size: 80%;
    font-style: italic;
    color: gray;
    text-align: center;
}

/* Center tables inside page content */
div.content table {
    margin-left: auto; 
    margin-right: auto;
}

div.content th {
    background-color: #505050;
    color: white;
    font-weight: normal;
    padding: 10px;
}

div.content tr:nth-of-type(even) {
    background:#EAEAEA;
}

div.content tr:nth-of-type(odd) {
    background:#EEEEEE;
}

div.content td {
    text-align: center;
    padding: 2px;
}

/* Allow for special paragraphs that have centered text */
div.content p.centered {
    text-align: center;
}

/* Center single images on the page */
div.box {
    margin: auto;
}







.menu {
    display: block;
    z-index: 999999;
}
  .menu li {
    display: inline-block;
    position: relative;
  }
  .menu li.dropdown:hover > .submenu {
    display: block;
  }
  .menu li a {
    display: block;
    padding: 12px 8px;
    background: #ccc;
  }
  .menu li.dropdown > a::after {
    content: "\e259";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    margin-left: 8px;
    font-size: 10px;
  }
  .menu li a::before {
    content: "\e179";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    margin-right: 8px;
  }
  .menu li a:hover {
    background: grey;
  }
  
  .menu .submenu {
    display: none;
  }
  .submenu {
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 0px;
    list-style-type: none;
    display: block;
    width: 200px;
    z-index: 9;
  }
  .submenu li {
    display: block;
  }
  .submenu li a {
    display: block;
    background: #999;
    color: #fff;
    padding: 8px 6px;
    margin-bottom: 1px;
  }
  .menu .submenu > li.dropdown:hover > .submenu {
    display: block;
  }
  
  .menu .submenu .submenu {
    position: absolute;
    left: 200px;
    top: 0px;
  }
  
  .submenu li.dropdown > a:after {
    content: "\e258";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    margin-left: 8px;
    font-size: 10px;
  }