---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/MarkdownContent.astro';

const customFrontmatter = Astro.props.customFrontmatter as any;
---

<!-- This component is inserted after the page title. The markdown content gets inserted as a slot. -->
<p>Author: {customFrontmatter.authors}</p>
<p>Published On: {customFrontmatter.date}</p>
<p>Last Updated: {customFrontmatter.lastUpdated}</p>
<Default {...Astro.props}><slot /></Default>