---
/// <reference path="../../../node_modules/@astrojs/starlight/virtual.d.ts"/>
import MobileMenuFooter from 'virtual:starlight/components/MobileMenuFooter';
import SidebarPersister from 'node_modules/@astrojs/starlight/components/SidebarPersister.astro';
import SidebarSublist from './SidebarSublist.astro';

const { sidebar } = Astro.locals.starlightRoute;
---

<SidebarPersister>
	<SidebarSublist sublist={sidebar} />
</SidebarPersister>

<div class="md:sl-hidden">
	<MobileMenuFooter />
</div>
