// Bootstrap breakpoint sizes
// md: 768px

// header-section-1 contains logo, site name and site description
.header-section-1 {    
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-grow: 0;    
}

.logo-img {
    width: 70%;

    /* max-width prevents image getting too large when on mobile device */
    max-width: 300px;
}

.logo-img img {
    width: 100%;
}

.site-title {
    color: rgb(51, 51, 51);
    font-size: 5vw;
    font-weight: 700;
    
    display: flex;
    justify-content: center;
    text-align: center;
}
@media (min-width: 768px) {
    .site-title {
        font-size: 24px;
    }
}

// Disable any link styling for the site title
.site-title a {
    text-decoration: none;
    color: inherit;
}

.site-description {
    color: rgb(51, 51, 51);
    font-size: 3vw;
    font-weight: 400;

    margin-top: 7px;
    width: 60%;
    text-align: center;
}
@media (min-width: 768px) {
    .site-description {
        font-size: 1.0rem;
    }
}

/* ========================================================================= */
/* MENU                                                                      */
/* ========================================================================= */

#treeview-menu {
    margin-top: 10px;
    a, button { 
        color:rgba(0,0,0,0.65); // Color of all menu text, incl button and <a> link text
        font-size: smaller;
    }

    ul ul {
        margin-left: 5px; // Apply some indentation to the lists so you can see the hierarachy
    }

    a {
        padding: .375rem .75rem;
        margin-top: .125rem;
        margin-left: 0.1rem;
        color: rgba(0,0,0,0.65);
        text-decoration: none;
        
    }
}

@media (min-width: 768px) {
    .bd-links {
        position: -webkit-sticky;
        position: sticky;
        top: 5rem;
        display: block !important;
        height: calc(100vh - 7rem);
        padding-left: .25rem;
        margin-left: -.25rem;
        overflow-y: auto;
    }
}

// This adds the arrows to the left-hand side of the menu items
.bd-links .btn::before {
    width: 1.25em;
    line-height: 0;
    // Content from bootstrap.com
    content:
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: .5em 50%;
}

// This spins the right pointing arrow to a downwards pointing arrow
// if the menu item has been expanded
.bd-links .btn[aria-expanded="true"]::before {
    transform: rotate(90deg);
}



/* ========================================================================= */
/* HOMEPAGE CONTENT                                                          */
/* ========================================================================= */

.col-centered {
    float: none;
    margin: 0 auto;
}

#recent-posts {
    h1 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }
}

/* ========================================================================= */
/* TOC                                                                       */
/* ========================================================================= */

#toc {
    margin-top: 30px;
    position: sticky;
    // overflow: scroll;
    top: 5rem;
    a {
        text-decoration: none;
        font-size: 0.8em;        
    }
    ul {
        list-style-type: none;
        padding-inline-start: 20px;
    }
    li {
        line-height: 1.5;
    }
}

/* ========================================================================= */
/* ASCIIDOC                                                                   */
/* ========================================================================= */

/* AsciiDoc wraps all text within list elements in a p element, let's get rid of
margin block start and end values (set by user agent stylesheet)
so the list elements do not have too much vertical padding between items. */
ul li p {
    /* line-height: 1.0; */
    margin-block-start: 0;
    margin-block-end: 0;
}

.imageblock {
    /* Make image caption text a little smaller than the main paragraph text and make
    it italic */
    .title {
        font-size: 0.8em;
        font-style: italic;
        text-align: center; /* Center text (with centered image) */
    }

    /* This centers the image */
    .content {
        display: flex;
        justify-content: center;
    }
}

/* Disable automatic heading numbering because AsciiDoc will
do this for us */
.content .sect1 h2::before {
    counter-reset: unset;
    content: none;
}

.content .sect1 h3::before {
    counter-reset: unset;
    content: none;
}

.content .sect1 h4::before {
    counter-reset: unset;
    content: none;
}

// AsciiDoc admonitions (e.g. TIP:, WARNING:, ...)
.admonitionblock {

    &.tip {
        background-color: rgb(230, 255, 230);
    }

    &.warning {
        background-color: rgb(255, 230, 230);
    }

    table tbody tr {
        background-color: transparent !important;
    }

    td {
        line-height: 1.7 !important;
    }
}

// text-center is added by AsciiDoc when [.text-center] is added before a paragraph
.text-center {
    text-align: center;
}

// CODE

pre.highlight {
    // Colour the default code text black
    color: rgb(0, 0, 0);
}
