// Can't use pure CSS variables for media queries, so we fall back to a SCSS variable
// for this instead
$mobile-to-desktop-breakpoint: 1200px;

:root {

    color-scheme: light;

    --background-color: #fff;
    --background-color-secondary: #222222;
    // main-color is the main 'theme' red of the site
    --main-color: #dc3545;
    --main-color-light: #fff3f3;
    --text-color-primary: #000000;
    --text-color-secondary: #202020;
    --caption-font-color: rgb(100, 100, 100);
    --caption-font-weight: 500;
    --example-bg-color: #ffe3e3;
    --border-color: #bbbbbb;

    --top-navbar-height: 60px;
    --menu-item-height: 35px;
}

html[data-theme='light'] {
    --background-color: #ffffff;
    --background-color-secondary: #f8f8f8;
    --text-color-primary: #000000;
    --text-color-secondary: #202020;
    --link-color: #543fd7;
    --border-color: #bbbbbb;
}

html[data-theme='dark'] {
    --background-color: #181818;
    --background-color-secondary: #222222;
    --text-color-primary: #e3e3e3;
    /* In dark mode secondary text colour is same as primary */
    --text-color-secondary: #e3e3e3;
    --link-color: #828fff;
    --border-color: #333333;
}

* {
    /* Don't set font family for everything, as it messes with code blocks */
    /* font-family: 'avenir next' ,'avenir', sans-serif */
}

/* ========================================================================= */
/* BODY
/* ========================================================================= */

body {
    background: var(--background-color);
    color: var(--text-color-primary);
}

/* ========================================================================= */
/* TOP NAVBAR
/* ========================================================================= */

.top-navbar {
    height: var(--top-navbar-height);
    padding: 8px 16px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 200; /* Make sure navbar is on top of everything else */
}

// Use [data-theme='light'] or @media here for styling based on light/dark mode???
@media (prefers-color-scheme: light) {
.top-navbar {
    background-color: var(--background-color-secondary);
}
}

@media (prefers-color-scheme: dark) {
    .top-navbar {
        background-color: var(--background-color-secondary);
    }
}

.hamburger-button {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    border-width: 0px;

    &:hover {
        cursor: pointer;
        background-color: #949494;
    }
}
@media (min-width: $mobile-to-desktop-breakpoint) {
    .hamburger-button {
        display: none; // Hide the hamburger button on wide screens, we show the left-hand navbar instead
    }
  }

.site-title {
    color: var(--main-color);
}

// Disable any link styling for the site title
.site-title a {
    text-decoration: none;
    color: inherit;
}

/* Shows the moon icon when light, sun icon when dark */
[data-theme='light'] .d-block-light,
[data-theme='dark'] .d-block-dark {
    display: block !important;
}

.d-block-light {
    color: var(--text-color-primary);
}

.d-block-dark {
    color: var(--text-color-primary);
}

/* ========================================================================= */
/* DRAWER STYLING
/* ========================================================================= */

.drawer {

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    width: 0; // Width will be changed by JS
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 500;

    background-color: var(--background-color);

    div {
        line-height: 1.0;
    }

    .menu-nav a, .menu-nav a:hover, .menu-nav a:visited, .menu-nav a:active {
        font-size: 0.8em;
    }
}

.drawer-top-row-with-close-button {
    display: flex;
    justify-content: end;
    align-items: center;

    height: 40px;

    padding: 10px 10px 0px 0px;
}

.drawer-close-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;

    font-size: 35px;

    border-width: 0;
    border-radius: 5px;
}

/* ========================================================================= */
/* WRAPPER BELOW NAVBAR
/* ========================================================================= */

.wrapper-below-top-navbar {
    display: flex;
    flex-direction: row;
}

/* ========================================================================= */
/* LEFT-HAND NAVBAR
/* ========================================================================= */

.left-navbar {
  display: none;
}
@media (min-width: $mobile-to-desktop-breakpoint) {
  .left-navbar {
    display: block;
  }
}

.left-navbar {
    min-width: 300px;
    max-width: 300px;
    border-right: 1px solid;
    // margin-top: -60px;
    border-color: var(--border-color);
}

/*
Padding provides offset so it doesn't collide with top navbar
*/
.left-navbar-padding {
    // padding-top: 60px;
    padding-right: 10px;
    // Sticky works well if the total menu height is small enough that it doesn't need
    // to be scrollable. However this is not the case with this site!
    // position: sticky;
    top: 0;
}

/* ========================================================================= */
/* MENU STYLING IN LEFT-HAND NAVBAR
/* ========================================================================= */

.menu-nav {
    display: block !important;
    padding-left: .25rem;
    margin-left: -.25rem;
    overflow-y: auto;

    margin-top: 10px;

    ul ul {
        margin-left: 5px; // Apply some indentation to the lists so you can see the hierarchy
    }

    // Make sure to select a and the visited/active/hover states
    // otherwise we get blue/purple links which don't look good
    // with the red background
    a, a:hover, a:visited, a:active {
        padding: .375rem .75rem;
        margin-top: .125rem;
        margin-left: 0.1rem;
        font-size: 1.2em;
        text-decoration: none;
        color: var(--text-color-secondary);
    }
    @media (min-width: $mobile-to-desktop-breakpoint) {
        a, a:hover, a:visited, a:active {
            font-size: 0.9em;
        }
    }
}

.menu-list {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 20px; // This indents the first menu
    .menu-list {
        padding-left: 5px; // This indents each submenu to give the user a view of the hierarchy
    }
}

.menu-chevron-link-wrapper {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
    min-height: var(--menu-item-height);

    [data-theme='light'] &:hover {
        background-color: #f0f0f0;
    }

    [data-theme='dark'] &:hover {
        background-color: #222222;
    }

    [data-theme='light'] &.active {
        background-color: color-mix(in srgb, var(--main-color) 50%, white);
    }

    [data-theme='dark'] &.active {
        // background-color: color-mix(in srgb, var(--main-color) 50%, black);;
        background-color: var(--main-color);
    }
}

.menu-link {
    flex-grow: 1; // Make the link part grow as much as possible, pushing the chevron to the far right
}

.menu-chevron {
    flex-shrink: 0;
    flex-grow: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; // Make it look clickable

    width: var(--menu-item-height);
    height: var(--menu-item-height);

    border-radius: 10px;
    
    svg {
        transition: transform 0.35s ease;
        transform-box: fill-box;
        transform-origin: center;
    }

    &.show {
        svg {
            transform: rotate(90deg);
        }
    }

    &.hidden {
        visibility: hidden;
    }

    [data-theme='light'] &:hover {
        // Make the chevron container look clickable to the user
        background-color: color-mix(in srgb, var(--main-color) 70%, white);
    }

    [data-theme='dark'] &:hover {
        // Make the chevron container look clickable to the user
        background-color: color-mix(in srgb, var(--main-color) 80%, black);
    }
}

/* ========================================================================= */
/* MAIN CONTENT (center and right TOC column)
/* ========================================================================= */

.main-content-outer-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    // Hiding the x overflow messed up the sticky behaviour of the
    // right-hand TOC column
    overflow-x: clip;
}

.page-wrapper {
    padding-top: 20px;

    max-width: 100%;
    display: flex;

    address {
        display: inline;
    }
}

.page-left-column {
    flex-grow: 1;
    // flex-basis: 75%;
    max-width: 75%;
    padding-left: 20px;
    padding-right: 20px;

    overflow-x: scroll;
}

.home-page-content {
    padding-top: 40px; // Applicable for homepage
    // max-width: 1200px;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page-content-inner {
    max-width: 1000px;
}

/* ========================================================================= */
/* PAGE RIGHT-HAND COLUMN (TOC)
/* ========================================================================= */

// Hide this on small width screens
#right-hand-column {
  display: none;
}
@media (min-width: $mobile-to-desktop-breakpoint) {
    #right-hand-column {
        display: block;
        max-width: 25%;
        flex-basis: 25%;
        // position: sticky;
        top: calc(--top-navbar-height); // 60px is the height of the top navbar, 20px is the padding-top of the page-wrapper
        // bottom: 100%;
    }
}

.right-hand-column-inner {
    position: sticky;
    top: calc(var(--top-navbar-height) + 20px);
    height: calc(100vh - var(--top-navbar-height) - 20px);
    overflow-y: hidden;

    .div-for-simplebar {
        height: 100%;
    }
}

#toc {

    border-left: 1px solid var(--border-color);

    // margin-top: 50px;
    margin-bottom: 15px;

    a {
        text-decoration: none;
        font-size: 0.8em;
    }
    ul {
        list-style-type: none;
        padding-inline-start: 20px;
    }
    li {
        line-height: 1.5;
    }
}

#toc li.active > a {
    color: var(--main-color);
    font-weight: 600;
  }

#toc a {
    text-decoration: none;
    display: block;
    padding: .125rem 0;
    color: var(--text-color-secondary); // Make TOC text lighter than content text
    transition: all 50ms ease-in-out; 
}

/* ========================================================================= */
/* FOOTER
/* ========================================================================= */

.footer {
    background-color: #303030;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* ===================================== */
/* HEADING NUMBERING */
/* ===================================== */

body {
    counter-reset: h2counter;
}

.content h1 {
    counter-reset: h2counter;
}

.content h2 {
    counter-reset: h3counter;
}

.content h3 {
  counter-reset: h4counter;
}

.content h2:before {
    content: counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
}

.content h3:before {
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
}

.content h4:before {
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
  counter-increment: h4counter;
}

/* END OF HEADING NUMBERING */

/* Use rem for body, use em for everything else */
/* This controls the main font size */
body {
    font-size: 1.2rem;
}

input {
    font-size: 0.9rem;
}

p, li, div {
    /* O.k. size on mobile */
    font-size: 2.5vw;
}
@media (min-width: 800px) {
    p, li, div {
        /* 1.3rem was a little too large */
        font-size: 1.1rem;
    }
}

// Style for both figure captions and table captions
figcaption p, table caption {
    font-size: 100%;
    font-style: italic;
    color: gray;
    text-align: center;
}

/* Allow for special paragraphs that have centered text */
div.content p.centered {
    text-align: center;
}

/* Center single images on the page */
div.box {
    margin: auto;
}


/* ========================================================================= */
/* OK, WARNING, ERROR SPANS                                                  */
/* ========================================================================= */

span.ok {
    color: #00b300;
    font-weight: bold;
}

span.warning {
    color: orange;
    font-weight: bold;
}

span.error {
    color: red;
    font-weight: bold;
}

/* ========================================================================= */
/* LISTS                                                                     */
/* ========================================================================= */

.content {
    ul {
        padding-inline-start: 7vw;
        li {
            // Add some top and bottom padding to list elements in content so they don't
            // look too crammed together
            // 2023-06-18: Got rid of padding, was making lists take up too much screen space
            // padding: 0.3em 0px;
        }
    }
    @media (min-width: 800px) {
        ul {
            padding-inline-start: 40px;
        }
    }

    // This id is set by hugo
    #TableOfContents {
        ul {
            li {
                // Get rid of this padding added above to specifically the table of contents, we
                // want this to be more condensed.
                padding: 0px 0px;
            }
        }
    }
}

/* ========================================================================= */
/* BREADCRUMBS                                                               */
/* ========================================================================= */

.breadcrumbs {
    font-size: 1.0em;
}

.breadcrumbs li {
    display: inline;
}

/* ========================================================================= */
/* MATHJAX                                                                   */
/* ========================================================================= */

/* This fixes an issue where the tops of some symbols in an equation where clipped */
code.has-jax span {
    clip: unset !important;
}

/* Should be rem, not em here! */
code.has-jax span {
  /* Disabled this as it was creating rendering issues with latex subscript/superscript */
  /* font-size: 0.8rem !important; */
}

/* ========================================================================= */
/* BLOCK QUOTES                                                              */
/* ========================================================================= */

blockquote {    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 3px solid #ccc;    
}
@media (min-width: 800px) {
    blockquote {    
        margin-left: 50px;
        padding-left: 15px;
    }
}

/* markdown wraps the text inside a p element */
blockquote p {
    font-size: 1em;
}
@media (min-width: 800px) {
    blockquote p {
        font-size: 1.2rem;
    }
}

/* ========================================================================= */
/* PAGINATION                                                                */
/* ========================================================================= */

/* Pagination HTML is created with the Hugo template: {{ template "_internal/pagination.html" . }} */

ul.pagination {

    width: 100%;
    padding: 0;

    /* Add some vertical margin */
    margin: 1em 0;

    /* Display page numbers and arrows in row, not column */
    display: flex;
    justify-content: center;

    /* Hide the bullets */
    list-style-type: none;
}

ul.pagination li {
    /* Add space between each number and arrow */
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/* ========================================================================= */
/* POST STYLING                                                              */
/* ========================================================================= */

/* Disable link styling for post titles */
.post-title {
    text-decoration: none;
    color: inherit;
}

// article {
//     /* This forces content to stay within the bounds of the article element and wrap if needed */
//     width: 100%;
// }

/* ========================================================================= */
/* MAIN PAGE STYLING                                                         */
/* ========================================================================= */

html {
    height: 100%;
}

/* Not sure if this is the right thing to do, but override the default max. container width
from 1320px to slightly larger to make room for the right-hand side toc */
div.container-xxl {
    max-width: 1900px;
}

/* ========================================================================= */
/* RECENT UPDATES                                                            */
/* ========================================================================= */

div.recent-updates {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

div.recent-updates .link {
  text-decoration: none;
}

div.recent-updates .item {
  border: solid 1px rgba(100, 100, 100, 0.5);
  border-radius: 5px;
  margin: 10px 0px;
  padding: 5px;
  /* Keep width sensible for left column (when is desktop mode) */
  width: 250px;
}

div.recent-updates .item:hover {
  background-color: rgba(230, 230, 230, 1.0);
}

div.recent-updates h2 {
    font-size: 1.0em;
    margin: 0px;
    margin-left: 10px;
}

div.recent-updates .modified {
    font-size: 0.7em;
    margin: 0px;
    margin-left: 10px;
    font-style: italic;
}

div.recent-updates .description {
    font-size: 0.8em;
    margin: 0px;
    margin-left: 10px;
}

/* ========================================================================= */
/* RIGHT COLUMN                                                              */
/* ========================================================================= */

.right-column {
    width: 100%;
}
@media (min-width: 800px) {
    .right-column {
        width: 70%;
    }
}

/* Right column contains page content */
.right-column {
    height: 100%;
    flex: 1;

    display: flex;
    flex-flow: column;
    align-items: center;
}

.inner-right-column {
    width: 90%;
    max-width: 900px;
    margin-top: 1em;
    background-color: white;

    /* Add subtle border to right-hand content */
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15); 

    /* Stops long URLs and strings going of the right-hand side of the column */
    word-break: break-word;
}

/* Padding between border of right-hand inner column and content */
main {
    padding: 5vw;
}
@media (min-width: 800px) {
    main {
        padding: 80px;
    }
}

.homepage-post-content {
    padding-bottom: 50px;
}

/* Add a bit of space below the footer before the page ends */
footer {
    padding-bottom: 20px;
}

/* ========================================================================= */
/* IMAGE STYLING                                                             */
/* ========================================================================= */

figure {
    /* Setting these margins to 0 fixes the issue where the user agent stylesheet would set them to
    40px and prevent the images for spanning the entire width of the content div */
    margin-inline-start: 0;
    margin-inline-end: 0;
}

figure img {
    width: 100%; /* Force images to stay within the confines of the parent container */
}

/* ========================================================================= */
/* PROMPTS                                                                   */
/* ========================================================================= */

aside.prompt {
    margin-block-start: 1em;
    margin-block-end: 1em;
    border-left-width: 4px;
    border-left-style: solid;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
    box-sizing: border-box;
}

aside.prompt .title {    
    font-weight: 700;
    padding-left: 1em;
}

aside.prompt .title .title-text {
    padding-left: 1em;
}

aside.prompt div.content {
    margin: 0;
    padding-left: 1em;
}

aside.prompt div.content p {
    margin: 0;
    padding: 0.8em;
    font-size: 0.8em;
}

/* QUESTION */

aside.question {
    border-left-color: #64dd17;
}

aside.question .title {
    background-color: rgba(100,221,23,.1);
}

aside.question .title .icon {
    color: #64dd17;
}

/* WARNING */

aside.warning {
    border-left-color: #ff9100;
}

aside.warning .title {
    background-color: rgba(255, 145, 0, 0.1);
}

aside.warning .title .icon {
    color: #ff9100;
}

/* NOTE */

aside.note {
    border-left-color: #651fff;
}

aside.note .title {
    background-color: rgba(101, 31, 255, 0.1);
}

aside.note .title .icon {
    color: #651fff;
}

/* ========================================================================= */
/* DISQUS STYLING                                                             */
/* ========================================================================= */

/* Divider between the end of the page/related content/tags and the start of the Disqus comments */
.disqus-divider {
    height: 30px;
}

/* ========================================================================= */
/* MATRIX (using a table)                                                    */
/* ========================================================================= */

/* This adds matrix looking brackets to the side of the table */

.matrix {
    position: relative;
}

.matrix:before, .matrix:after {
    content: "";
    position: absolute;
    top: 0;
    border: 1px solid #000;
    width: 6px;
    height: 100%;
}
.matrix:before {
    left: -6px;
    border-right: 0px;
}
.matrix:after {
    right: -6px;
    border-left: 0px;
}

table.matrix tr:nth-of-type(even) {
    background: white;
}

table.matrix tr:nth-of-type(odd) {
    background: white;
}

.matrix td {
    padding: 5px;    
    text-align: center;
}

.matrix {
    border-spacing: 0px;
}

.matrix td {
    width: 2em;
}

/* ========================================================================= */
/* CALCULATORS                                                               */
/* ========================================================================= */

.calculator input {
    width: 6em;
    height: 1.5em;
}

.calculator table tr:nth-of-type(even) {
    background: white;
}

.calculator table tr:nth-of-type(odd) {
    background: white;
}

/* ========================================================================= */
/* HBOX and VBOX
/* ========================================================================= */

/* Handy hbox and vbox elements that can be used around the site to layout child
elements */

div.hbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.vbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* ========================================================================= */
/* STRIKE-TRHOUGH (DEL)                                                      */
/* ========================================================================= */

del {
    text-decoration: line-through;
    background-color: #fbb;
    color: #555;
}


/* ========================================================================= */
/* RETURN TO TOP BUTTON
/* ========================================================================= */

// This element will be set to display: inline by jQuery when fadeIn()/fadeOut()
// is called. Thus to center the arrow when need an inner div wrapper also
.return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(80, 80, 80, 0.5);
  width: 50px;
  height: 50px;

  text-decoration: none;
  border-radius: 35px;
  display: none;
  transition: all 0.3s ease;

  i {
    color: #fff;
    margin: 0;
    position: relative;
    // left: 16px;
    // top: 13px;
    font-size: 19px;
    transition: all 0.3s ease;
  }

  &:hover {
    background: rgba(100, 100, 100, 0.5);
  }

  &:hover i {
    color: #fff;
    top: -5px;
  }

}

.return-to-top-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

// Bootstrap breakpoint sizes
// md: 768px

// Container for "left sidebar" when on large screen
@media (min-width: 768px) {
    .bd-sidebar {
        position: sticky !important;
        top: 0;
        height: 100vh;
    }   
}

p, li, div, td, th, input, code.has-jax {
    line-height: 1.7;
    color: var(--text-color)
}

// header-section-1 contains logo, site name and site description
.header-section-1 {    
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-grow: 0;
}

.logo-img {
    width: 70%;

    /* max-width prevents image getting too large when on mobile device */
    max-width: 300px;
}

.logo-img img {
    width: 100%;
}

.site-description {
    color: rgb(51, 51, 51);
    font-size: 3vw;
    font-weight: 400;

    margin-top: 7px;
    width: 90%; // Used to be 60%, changed to 90% because we made the column thinner
    text-align: center;
}
@media (min-width: 768px) {
    .site-description {
        font-size: 1.0rem;
    }
}



/* ========================================================================= */
/* HOMEPAGE CONTENT                                                          */
/* ========================================================================= */

// Used to center the "recent posts" column
.col-centered {
    float: none;
    margin: 0 auto;
}

// Reduce the heading size on the "recent posts" section
// of the homepage...the default size is too big
#recent-posts {
    h1 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }
}

/* ========================================================================= */
/* HEADING AND PARAGRAPH STYLING                                             */
/* ========================================================================= */

p, h1, h2, h3, ul, li, a, div, td, th, input {
    font-family: 'avenir next' ,'avenir', sans-serif;
    word-break: break-word; // Makes sure long URLs in image captions do not exceed page width
}

h1, h2, h3, h4 {
    color: var(--main-color);
}

// Styling for page titles
h1 { 
    font-size: 3.0em;
    // margin: 0.1em;
    // font-weight: bold;
}

// Heading used for top-level sections on a page
h2 { 
    font-size: 2.5em;
    // font-weight: bold;
    // margin-top: 1.5em;
    margin-bottom: 0.5em;

    // Add a bottom horizontal "line" for all major page headings
    // 2023-06-06: Disabled the underline
    // border-bottom: 4px solid var(--main-color);

    // 2021-12-22: Commented float: left out as it was hiding images/code blocks if they directly after an h2 heading
    // float: left;
    width: 100%;
    padding-bottom: 3px;
}

h3 {
    font-size: 1.5em;
    // font-weight: bold;
    margin-bottom: 1.0em;
}

h4 {
    font-size: 1em;
    // font-weight: bold;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

div.sect2 {
    margin-bottom: 10px;
}

/* ========================================================================= */
/* POST/PAGE METADATA                                                        */
/* ========================================================================= */

// This div wraps the "date published" and "last modified" data shown just under the h1
// heading on post and page views
.published-modified-wrapper {
    margin-bottom: 2.0em;
}

/* ========================================================================= */
/* MATHJAX                                                                   */
/* ========================================================================= */

code.has-jax {
    font-size: 1em;
}

/* ========================================================================= */
/* CODE                                                                      */
/* ========================================================================= */

pre, .pre {
    overflow-x: auto;
    overflow-y: hidden;
    /* overflow:   scroll; */
}

pre {
    background-color: #222;
    color: #ddd;
    white-space: pre;
    hyphens: none;
    position: relative;
    margin-bottom: 0px; // reboot added 1em margin-bottom, get rid of this!
}

/* Styling for inline code (no pre element). Make sure not to select code elements
which have the class `has-jax`, as this is used for inline math and MathJAX
rendering.
*/
code:not(.has-jax) {
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 1px solid #BCBEC0;
    padding: 2px;
}

pre code:not(.has-jax) {
    display: block;
    padding: 1.5em 1.5em;
    white-space: pre;
    font-size: 0.8em;
    line-height: 2;
    border: 0px;
}
@media (min-width: 800px) {
    pre code:not(.has-jax) {
        font-size: .876rem;
    }
}

div.highlight {
    margin-bottom: 1rem; // Add whitespace below code blocks before next element
}

// For some reason, when adding line numbers to code blocks, the first row's line number would
// always be horizontally skewed in the wrong place. This is an incredibly specific selector
// to fix this, and overrides style= added by the markdown parser.
div.highlight > div > table > tbody > tr > td:nth-child(1) > pre > code > span {
    margin-right: 0 !important;
    padding: 0 !important;
}

/* ========================================================================= */
/* TABLES
/* ========================================================================= */

.table-wrapper {
    overflow-x: auto;
}

/* Center tables inside page content */
div.content table {
    margin-left: auto; 
    margin-right: auto;
    font-size: 1.1rem;

    /* The right-column has break-word set to stop long strings/URLs from going off the side
    of the page. We need to however set word-break back to normal here otherwise column sizes
    look weird */
    word-break: normal;

    border-collapse: collapse;

    /* Add spacing at bottom before next element in page content */
    margin-bottom: 1em;
}

div.content {

    th {
        background-color: var(--main-color);
        color: white;

        // Have to also set the text colour with this <p> as AsciiDoc
        // inserts paragraphs into th cells which are in the tbody.
        p {
            color: white;
        }
        font-weight: normal;
        padding: 10px;
    }

    td, th {
        /* O.k. size on mobile */
        font-size: 2.5vw;
        border: 1px solid rgb(210, 210, 210);
    }
    @media (min-width: 800px) {
        /* Make tabular data a little smaller than standard paragraphs */
        td, th, td ul li, td p, th p {
            font-size: 0.95rem;
            line-height: 1.5;
        }
    }

    td {
        ul {
            // Make padding tiny for lists in tables so we can fit them into cells without taking up too
            // much of the total page width
            padding-inline-start: 8px; 
        }

        p {
            // Remove paragraph margin if paragraph is inside table cell. This is because we need to add empty lines
            // before cell content if we want bibliographic references inside cells, but this also adds a paragraph
            // to the contents due to the markdown processor. Margins make the paragraphs non-centered in the cells.
            margin: 0;
        }
    }

    // Get rid of the bottom margin of paragraphs inside table captions,
    // as these add too much white space below the table
    caption {
        p {
            margin-bottom: 0px;
        }
    }
}

div.content tr:nth-of-type(even) {
    // This adds a light red background to every second row
    //background: var(--main-color-light);
}

div.content td {
    // 2021-07-08: Decided left-aligned text looked better than centered text, so commented the below line out
    // text-align: center; /* This messes up list identifiers (e.g. bullet points), so we fix this below */
    padding: 10px;
}

div.content td ul {
    display: inline-block; /* This makes list identifiers look good within table cells when contents are centered */
}

div.content td li {
    text-align: left; /* Left aligns text in lists */
}

/* OK, WARNING AND ERROR ROWS IN A TABLE */

div.content tr.ok {
    background-color: #d7fcd3;
}

div.content tr.warning {
    background-color: #f5f5d3;
}

div.content tr.error {
    background-color: #ffe3e3;
}

table.code th, table.code td {
  font-family: monospace;
}

/* UNSTYLED TABLES (for layout) */

table.unstyled {
    > tbody > tr {
        > td {
            padding: 0px;
            background-color: transparent;
            border: none;
        }
    }
}

/* AsciiDoc wraps all text within list elements in a p element, let's get rid of
margin block start and end values (set by user agent stylesheet)
so the list elements do not have too much vertical padding between items. */
ul, ol {
    li p {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

// AsciiDoc uses table blocks
.tableblock {
    td {
        padding: 10px;
        p {
            line-height: 1.0;
            margin: 0;
        }
    }
}

caption.title {
    color: var(--caption-font-color);
    font-size: 0.9em;
    font-style: italic;
    font-weight: var(--caption-font-weight);

}

// This is added so to make large tables scrollable. Wrap the table in an AsciiDoc block like so:
// [.overflow]
// --
// [.table-1000]
// |===
//   ...
//   ...
// |===
// --
.overflow {
    overflow-x: auto;
}

// Classes to make tables which are larger than the standard content, with scrollable content. Used
// for tables with a large number of columns/lots of data.
.table-800 {
    width: 800px;
}

.table-1000 {
    width: 1000px;
}

.table-1200 {
    width: 1200px;
}


/* ========================================================================= */
/* IMAGES                                                                    */
/* ========================================================================= */

.imageblock {

    // Add gaps between image blocks and other content
    margin-top: 1em;
    margin-bottom: 1em;

    /* Make image caption text a little smaller than the main paragraph text and make
    it italic */
    .title {
        font-size: 0.8em;
        font-style: italic;
        text-align: center; // Center text (with centered image)
    }

    /* This centers the image */
    .content {
        display: flex;
        justify-content: center;
    }

    img {
        max-width: 100%; // Even if in the AsciiDoc file the image is specified with width=<large number>, make sure it is not wider than the parent content div
    }
}

// imagerow is a custom class we apply to blocks in where we want to show images
// in a row across the page
.imagerow {
    display: flex;
    justify-content: center;
    .content {
        display: flex;
    }
}

/* Disable automatic heading numbering because AsciiDoc will
do this for us */
.content .sect1 h2::before {
    counter-reset: unset;
    content: none;
}

.content .sect1 h3::before {
    counter-reset: unset;
    content: none;
}

.content .sect1 h4::before {
    counter-reset: unset;
    content: none;
}

// AsciiDoc admonitions (e.g. TIP:, WARNING:, ...)
.admonitionblock {

    // Add gaps between admonition blocks and other content
    margin-top: 1em;
    margin-bottom: 1em;

    &.tip {
        background-color: rgb(230, 255, 230);
    }

    &.note {
        background-color: rgb(252, 252, 237);
    }

    &.warning {
        background-color: rgb(255, 230, 230);
    }

    table tbody tr {
        background-color: transparent !important;
    }

    td {
        line-height: 1.7 !important;
    }
}

// Admonition blocks for markdown
div.admonitionblock-md {

    // Add gaps between admonition blocks and other content
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    

    .top-bar {
        width: 100%;
        display: flex;
        align-items: center;

        .icon {
            svg {
                width: 1em;
                height: 1em;
            }
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .title {
            font-weight: 700;
        }
    }

    .content {
        margin: 10px;
        // Don't make the content flex, as it does weird things when there is bold text inside.
        // display: flex;
        align-items: center;
    }

    &.info {
        $base-color: rgb(21, 193, 193);
        background-color: rgba($base-color, 0.1);
        border-inline-start: 4px solid rgba($base-color, 1);
        .top-bar {
            $title-bar-color: darken($base-color, 20);
            color: $title-bar-color;
            fill: $title-bar-color;
        }
    }

    &.example {
        $base-color: rgb(255, 191, 0);
        background-color: rgba($base-color, 0.1);
        border-inline-start: 4px solid rgba($base-color, 1);
        .top-bar {
            $title-bar-color: darken($base-color, 20);
            color: $title-bar-color;
            fill: $title-bar-color;
        }
    }

    &.note {
        $base-color: rgb(135, 45, 230);
        background-color: rgba($base-color, 0.1);
        border-inline-start: 4px solid rgba($base-color, 1);
        .top-bar {
            $title-bar-color: darken($base-color, 20);
            color: $title-bar-color;
            fill: $title-bar-color;
        }
    }

    &.tip {
        $base-color: rgb(21, 193, 193);
        background-color: rgba($base-color, 0.1);
        border-inline-start: 4px solid rgba($base-color, 1);
        .top-bar {
            $title-bar-color: darken($base-color, 20);
            color: $title-bar-color;
            fill: $title-bar-color;
        }
    }

    &.warning {
        $base-color: rgb(255, 0, 0);
        background-color: rgba($base-color, 0.1);
        border-inline-start: 4px solid rgba($base-color, 1);
        .top-bar {
            $title-bar-color: darken($base-color, 20);
            color: $title-bar-color;
            fill: $title-bar-color;
        }
    }
}

// text-center is added by AsciiDoc when [.text-center] is added before a paragraph
.text-center {
    text-align: center;
}

// [.eq-vars] block attributes are used for explaining the variables of above equations
.eq-vars {
    p {
        text-align: center;
        font-size: 0.9rem;
    }
}

/* ========================================================================= */
/* CODE                                                                      */
/* ========================================================================= */

.listingblock {
    .title {
        color: var(--caption-font-color);
        font-size: 1.0em;
        font-style: italic;
        font-weight: var(--caption-font-weight);

    }

    pre.highlight {
        // Colour the default code text black
        color: rgb(0, 0, 0);
    }
}

/* ========================================================================= */
/* EXAMPLE BLOCKS                                                            */
/* ========================================================================= */
.exampleblock {
    .title {
        color: var(--caption-font-color);
        font-size: 1.0em;
        font-style: italic;
        font-weight: var(--caption-font-weight);

    }
    background-color: var(--example-bg-color);
    padding: 10px;
    margin-bottom: 20px; // Space before the next element on the page
}

/* ========================================================================= */
/* BIBLIOGRAPHY                                                              */
/* ========================================================================= */

// Make the bib links superscript
a[href^="#bib"] {
    font-size: 70%;
    margin: left;
    vertical-align: .5em;
}

// Scale down the bibliography so that it is smaller than normal content. Gives it a
// better fit on the page and prevents the references section having too much vertical scroll
ul.bibliography li p {
    font-size: 0.9em;
}

/* ========================================================================= */
/* AUTHOR CARDS                                                              */
/* ========================================================================= */

.author-card {
    display: flex;

    img {
        margin-right: 10px;
    }
}

/* ========================================================================= */
/* POSITIVES/NEGATIVES                                                       */
/* ========================================================================= */

// These stylings are designed to be used with spans that wrap unordered lists of
// pros/cons

span.pro {
    color: green;
}

span.con {
    // Our main colour happens to be a nice red for cons
    color: var(--main-color);
}

/* ========================================================================= */
/* GOOD/OK/BAD                                                               */
/* ========================================================================= */

.good {
    color: green;
    font-weight: bold;
}

.ok {
    color: orange;
    font-weight: bold;
}

.bad {
    // Our main colour happens to be a nice red bad
    color: var(--main-color);
    font-weight: bold;
}

/* ========================================================================= */
/* CIRCUITJS                                                                 */
/* ========================================================================= */

.circuitjs-container {
    // background-color: #dddddd;
    padding: 20px;
    
    iframe {
        // This is to remove some whitespace that circuitjs adds to the bottom of it's iframe
        margin-bottom: -30px;
    }
}

/* ========================================================================= */
/* WORKED EXAMPLES                                                           */
/* ========================================================================= */

.worked-example {
    background-color: var(--main-color-light);
    padding: 1em; // Padding based on em, not px, so is responsive?
    margin-bottom: 1em; // Add space at the bottom so the next heading/paragraph e.t.c does not collide with it
}

/* ========================================================================= */
/* SIMPLEBAR STYLING
/* ========================================================================= */

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    // Make the scrollbar color the main color, this works well in light and dark themes
    background-color: var(--main-color);
}