.figcaption {
  font-style: italic; /* Italics to help distinguish the caption from the paragraph text */
  min-width: 150px; /* Set a min. width incase the image has a very small width. This will be the actual width if the width property is less than this. */
  color: #929292; /* Lighten the text to distinguish it from paragraph text */
}

[data-theme='dark'] .figcaption {
  color: #aaaaaa;
}