---
const { ref } = Astro.props;
---

<!-- The placeholder text gets replaced with the actual reference by the JavaScript that runs in the browser -->
<a id={ref} class="ref-source" href={`#${ref}`}>This is a placeholder for the reference: {ref}</a>