{{ "<!--" | safeHTML }}
  partials/main_content.html
  {{ "-->" | safeHTML }}
<!-- This partial is used for all list and page types, not used for homepage -->
<!-- In total, this file contains HTML elements that use up 9 of the 12 bootstrap columns (leaving 3 for the site logo and menu)-->
{{ $section := .Site.GetPage "section" .Section }}

<!-- Make sure this syncs up with the columns in baseof.html -->
<article class="page-wrapper">

  <div class="page-left-column">
    <header>
      {{ partial "breadcrumbs.html" . }}
      <p>{{with .CurrentSection.Title }}{{. | upper }}{{end}}</p>
      <h1>
        <a href="{{ .Permalink }}" class="post-title">{{- .Title -}}</a>
      </h1>

      <div class="published-modified-wrapper">
        <span>
          Article by:
          {{ range .Param "authors" }}
          <address class="author"><a rel="author" href="#_authors">{{ . }}</a></address>
          {{ end }}
        </span>
        <table>
          <tbody>
            <tr>
              <td>Date Published:</td>
              <td>
                <time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}" itemprop="datePublished">
                  <i>{{ .Date.Format "January 2, 2006" }}</i>
                </time>
              </td>
            </tr>
            <tr>
              <td>Last Modified:</td>
              <td>
                <time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}" itemprop="dateModified">
                  <i>{{ .Lastmod.Format "January 2, 2006" }}</i>
                </time>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


      {{/*
      Show "reading time" and "word count" but only if one of the following are true:
      1) A global config `params` value is set `show_reading_time = true`
      2) A section front matter value is set `show_reading_time = true`
      3) A page front matter value is set `show_reading_time = true`
      */}}
      {{ if (or (eq (.Param "show_reading_time") true) (eq $section.Params.show_reading_time true) )}}
      <span> - {{ .ReadingTime}} minutes read</span>
      <span> - {{ .WordCount}} words</span>
      {{ end }}
    </header>

    <div class="content">

      {{ $childpages := union .Sections .Pages }}
      {{ if $childpages }}
      <h2>Child Pages</h2>
      {{ end }}
      {{ range $childpages.ByTitle }}
      <li>
        <a href="{{.Permalink}}">{{.Title}}</a>
      </li>
      {{ end }}

      {{- .Content -}}
    </div> <!-- class="content" -->
  
    <hr />

    <!-- The below block shows a list of the authors of the current page, including their name, bio and image
        This block pulls metadata from the pages at content/authors/... -->
    <h2 id="_authors">Authors</h2>
    {{ range .Param "authors" }}
    {{ $name := . }}
    {{ $path := printf "/%s/%s" "authors" ($name | urlize) }}
    {{ with $.Site.GetPage $path }}
    <div class="author-card">

      <img src="/images{{ $path }}.png">
      <div>
        <h3>{{ .Params.name }}</h3>
        <p>{{ .Params.bio }}</p>
        <div><i class="fab fa-twitter"></i> <a href="https://twitter.com/{{ .Params.twitter }}">Twitter</a></div>
        <div><i class="fab fa-github"></i> <a href="https://github.com/{{ .Params.github }}">GitHub</a></div>
        <!-- Support Me on Ko-fi button -->
        <!-- Code from https://ko-fi.com/manage/widgets?src=sidemenu -->
        <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
        <script
          type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'M4M8CBE56'); kofiwidget2.draw();</script>
      </div>
    </div>
    {{ end }}
    {{ end }}

    <div style="height: 10px;"></div>

    <!-- Creative Commons License "stamp" (button and text) -->
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
      <img alt="Creative Commons License" style="border-width:0"
        src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license"
      href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License
    </a>.

    {{- partial "related.html" . -}}
    {{- partial "tags.html" . -}}
    <div class="disqus-divider"></div>
    {{ template "_internal/disqus.html" . }}
  </div>

  <!-- This takes up 3 columns on xl screens and bigger, but not visible on smaller devices -->
  <div id="right-hand-column" data-simplebar>
    <!-- Only show TOC for pages, not posts -->
    {{- if (eq .Type "page") -}}
    <nav id="toc">
      {{ .TableOfContents }}
    </nav>
    {{- end -}}
  </div>

</article>
