{{ if or (.Sections) (.Pages) }}
    {{ $child_pages := .Sections }}
    <ul class="submenu">
        {{ range $child_pages.ByTitle }}
            <li class="dropdown">
                <a href="{{.Permalink}}"><div class="menu-text">{{ .Title }}</div>
                    {{ if or (.Sections) (.Pages) }}
                    <div class="right-arrow">▶</div>
                    {{ end }}
                </a>
                {{ partial "menu_recursive.html" . }}
            </li>
        {{ end }}
        <!-- {{ range .Pages.ByTitle }}
            <li>
                <a href="{{.Permalink}}"><div class="menu-text">{{ .Title }}</div></a>
                {{ partial "menu_recursive.html" . }}
            </li>
        {{ end }} -->
    </ul>
{{ end }}