<nav class="collapse menu-nav" id="treeview-menu" aria-label="Docs navigation">
  <ul class="menu-list">
    {{ with .Site.GetPage "/" }}
      {{ range .Sections.ByTitle }}
        {{/* We don't want a menu item for specific pages listed here */}}
        {{ if (and (ne .Title "Posts") (ne .Title "Tests") (ne .Title "Authors") (ne .Title "Site Info") (ne .Title "Pyrotechnics")) }}
          <li class="menu-list-item">
            <div class="menu-chevron-link-wrapper">
              <a class="menu-link" aria-expanded="false" href="{{.Permalink}}">
                {{ .Title }}
              </a>
              <div class="menu-chevron">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 14l6-6-6-6"></path></svg>
              </div>
            </div>
            <!-- Using partialCached here offers significant build time speedup, as this recursive menu would otherwise be rebuilt for
            every page! -->
            {{ partial "menu_recursive.html" . }}
          </li>
        {{ end }}
      {{ end }}
    {{ end }}
    {{ with .Site.GetPage "/posts" }}
    <li class="menu-list-item">
      <div class="menu-chevron-link-wrapper">
        <a class="menu-link" aria-expanded="false" href="{{.Permalink}}">
          {{ .Title }}
        </a>
        <div class="menu-chevron hidden">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 14l6-6-6-6"></path></svg>
        </div>
      </div>
    </li>
    {{ end }}
  </ul>
</nav>
