<div class="recent-updates">
  <p>Recent Updates:</p>
  <!-- .Site.Pages includes both sections and leaf nodes, but also tags and category pages! -->
  <!-- .Site.RegularPages only contains leaf nodes -->
  {{ $combined := .Site.Pages }}             
  {{ $combined := where $combined "Section" "!=" "categories" }}
  {{ $combined := where $combined "Section" "!=" "tags" }}
  {{ $byLastMod :=  $combined.ByLastmod }}
  {{ $recent := ($byLastMod | last 5).Reverse }}
  {{ range $recent }}
    <a href="{{ .Permalink }}" class="link">
      <div class="item">            
        <h2>{{ .Title }}</h2>
        <span class="modified">Modified: {{ .Lastmod.Format "2 January, 2006" }}</span>                        
        <p class="description">{{ .Description }}</p>
      </div>
    </a>
  {{ end }}
</div>