    <div style="position: relative;">
        <div style="position: absolute; left: -150px;">
            <div id="shuriken"
                onclick="add()"
                style="
                    position: fixed;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 50px;">
            <img src="/images/shuriken-icon.png" style="width: 50px" />
            <span id="shuriken-count"></span>
            </div>
        </div>
    </div>

    <script src="/js/shuriken.js"></script>