{{ define "main" }}
<main aria-role="main">
    <header class="homepage-header">
    <h1>{{.Title}}</h1>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
    {{ end }}
    </header>

    <div class="homepage-content">
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    {{.Content}}
    </div>
    <div>
    <!-- Note that .Pages is the same as .Site.RegularPages on the homepage template. -->
    <!-- Get the 10 most recent posts, from any section -->
    {{ range first 10 ( sort (where .Site.RegularPages "Section" "posts") "Date" "desc" ) }}
        <!-- {{ .Render "summary"}} -->
        <a href="{{ .URL }}" class="post-title"><h1 class="f1">{{ .Title }}</h1></a>
        <div class="homepage-post-content nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
            {{ .Content }}
        </div>
    {{ end }}
    </div>
</main>
<link rel="stylesheet" href="/css/style.css"/>
{{ end }}