{{ define "main" }}
<div class="content">
    <div>
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        <!-- This may be empty -->
        {{.Content}}
    </div>
    <div>
    <!-- Note that .Pages is the same as .Site.RegularPages on the homepage template. -->
    <!-- Get the most recent posts, from any section, and then paginate them -->
    {{ range (.Paginate (first 20 ( sort (where .Site.RegularPages "Section" "posts") "Date" "desc" )) 5 ).Pages }}
        <!-- {{ .Render "summary"}} -->
        <a href="{{ .URL }}" class="post-title"><h1>{{ .Title }}</h1></a>
        <div>
            {{ .Content }}
        </div>
        <hr>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
    </div>
</div>
{{ end }}