{{ define "main" }}
{{ "<!--" | safeHTML }}
layouts/index.html
{{ "-->" | safeHTML }}
<div class="content col-md-6 col-centered">
    <div>
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        <!-- This may be empty -->
        {{.Content}}
    </div>
    <div id="recent-posts">
    <!-- Get the most recent posts, from any section, and then paginate them -->
    {{ range (.Paginate (first 20 ( sort (where .Site.Pages "Section" "posts") "Date" "desc" )) 5 ).Pages }}
        <!-- {{ .Render "summary"}} -->
        <a href="{{ .RelPermalink }}" class="post-title"><h1>{{ .Title }}</h1></a>
        <div>
            {{ .Content }}
        </div>
        <hr>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
    </div>
</div>
{{ end }}