
<div id="calc-3d-rotation-graph" class="calculator hbox">
  <div id="graph-container"></div>

    <div class="vbox">
      <b>Axis-Angle</b>
      <input type="radio" name="inputType" value="axisAngle"/>
      <table>
        <tbody>
          <tr>
            <td style="max-width: 20px;">\(\theta\)</td>
            <td><input name="angle" value="0"></input></td>
            <td style="padding-left: 0px;">rad</td>
          </tr>
          <tr>
            <td>x</td>
            <td><input name="axisX" value="0"/></td>
          </tr>
          <tr>
            <td>y</td>
            <td><input name="axisY" value="0"/></td>
          </tr>
          <tr>
            <td>z</td>
            <td><input name="axisZ" value="0"/></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div style="width: 2em;"></div>

    <div class="vbox">
      <b>Quaternion</b>
      <input type="radio" name="inputType" value="quaternion"/>
      <table>
        <tbody>
          <tr>
            <td>w</td>
            <td><input name="quatW"></input></td>
          </tr>
          <tr>
            <td>x</td>
            <td><input name="quatX"></input></td>
          </tr>
          <tr>
            <td>y</td>
            <td><input name="quatY"></input></td>
          </tr>
          <tr>
            <td>z</td>
            <td><input name="quatZ"></input></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="vbox spacer" style="width: 20px;"></div>

    <div class="vbox">
      <b>Rotation Matrix</b>
      <input type="radio" name="inputType" value="rotMatrix"/>
      <table class="rotMatrix">
        <tbody>
          <tr>
            <td><input name="rot00"/></td>
            <td><input name="rot01"/></td>
            <td><input name="rot02"/></td>
          </tr>
          <tr>
            <td><input name="rot10"/></td>
            <td><input name="rot11"/></td>
            <td><input name="rot12"/></td>
          </tr>
          <tr>
            <td><input name="rot20"/></td>
            <td><input name="rot21"/></td>
            <td><input name="rot22"/></td>
          </tr>
        </tbody>
      </table>
    </div>

</div>

<style>
#calc-3d-rotation-graph table tr td {
  padding: 5px;
}

table.rotMatrix tr td {
  padding: 2px;
}
.rotMatrix td input {
  width: 40px;
  padding: 2px;
}
</style>

<!--
######################################################################
# SCRIPTS
######################################################################
-->

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/6.2.2/math.js"></script>

<script>
(function() {

  // Global constants
  let calc = $('#calc-3d-rotation-graph')
  const angleEl = calc.find("[name='angle']")
  const axisXEl = calc.find("[name='axisX']")
  const axisYEl = calc.find("[name='axisY']")
  const axisZEl = calc.find("[name='axisZ']")
  const quatWEl = calc.find("[name='quatW']")
  const quatXEl = calc.find("[name='quatX']")
  const quatYEl = calc.find("[name='quatY']")
  const quatZEl = calc.find("[name='quatZ']")
  const rot00El = calc.find("[name='rot00']")
  const rot01El = calc.find("[name='rot01']")
  const rot02El = calc.find("[name='rot02']")
  const rot10El = calc.find("[name='rot10']")
  const rot11El = calc.find("[name='rot11']")
  const rot12El = calc.find("[name='rot12']")
  const rot20El = calc.find("[name='rot20']")
  const rot21El = calc.find("[name='rot21']")
  const rot22El = calc.find("[name='rot22']")

  const quatElGroup = [
    quatWEl,
    quatXEl,
    quatYEl,
    quatZEl,
  ]

  const axisAngleElGroup = [
    angleEl,
    axisXEl,
    axisYEl,
    axisZEl,
  ]

  const rotMatrixElGroup = [
    rot00El,
    rot01El,
    rot02El,
    rot10El,
    rot11El,
    rot12El,
    rot20El,
    rot21El,
    rot22El,
  ]

  const PRECISION = 3

  function add_axis(data, start_point, end_point, colorIn) {
    console.log('start_point='+start_point)
    console.log('end_point='+end_point)
    console.log('colorIn=' + colorIn)
    x = [start_point.get([0]), end_point.get([0])]
    y = [start_point.get([1]), end_point.get([1])]
    z = [start_point.get([2]), end_point.get([2])]
    data.push(
      {
        type: 'scatter3d',
        mode: 'lines',
        x: x,
        y: y,
        z: z,
        opacity: 1.0,
        line: {
          width: 2,
          color: colorIn,
          // colorscale: 'Viridis'
        },
        showlegend: false,
      }
    )
  }

  function quatToRotMatrix(quat) {
    console.log('quat='+quat)
    const w = quat.get([0])
    const x = quat.get([1])
    const y = quat.get([2])
    const z = quat.get([3])
    var matrixArray = [
      [1 - 2*y*y - 2*z*z, 2*x*y - 2*z*w, 2*x*z + 2*y*w],
      [2*x*y + 2*z*w, 1 - 2*x*x - 2*z*z, 2*y*z - 2*x*w],
      [2*x*z - 2*y*w, 2*y*z + 2*x*w, 1 - 2*x*x - 2*y*y],
    ]
    return math.matrix(matrixArray)
  }

  function rotToQuatMatrix(rotMatrix) {
    m00 = rotMatrix.get([0,0])
    m01 = rotMatrix.get([0,1])
    m02 = rotMatrix.get([0,2])
    m10 = rotMatrix.get([1,0])
    m11 = rotMatrix.get([1,1])
    m12 = rotMatrix.get([1,2])
    m20 = rotMatrix.get([2,0])
    m21 = rotMatrix.get([2,1])
    m22 = rotMatrix.get([2,2])
    if (m22 < 0) {
      if (m00 >m11) {
          t = 1 + m00 -m11 -m22;
          q = math.matrix([m01+m10, m20+m02, m12-m21, t])
      }
      else {
          t = 1 -m00 + m11 -m22;
          q = math.matrix([t, m12+m21, m20-m02, m01+m10])
      }
    }
    else {
        if (m00 < -m11) {
            t = 1 -m00 -m11 + m22;
            q = math.matrix([m12+m21, t, m01-m10, m20+m02])
        }
        else {
            t = 1 + m00 + m11 + m22;
            q = math.matrix([m20-m02, m01-m10, t, m12-m21])
        }
    }
    q = math.multiply(q, 0.5 / Math.sqrt(t))
    return q
  }

  function init() {

    // Add event handler to radio buttons to enable/disable certain input types
    // Trigger on click so that we also run when jQuery .trigger('click') called
    $('input[type=radio][name=inputType]').bind('change click', function() {
      console.log('radiobutton change handler called.')
      if (this.value == 'axisAngle') {
        for(const el of axisAngleElGroup) {
          el.prop('disabled', false)
        }
        for(const el of quatElGroup) {
          el.prop('disabled', true)
        }
        for(const el of rotMatrixElGroup) {
          el.prop('disabled', true)
        }
      } else if (this.value == 'quaternion') {
        for(const el of axisAngleElGroup) {
          el.prop('disabled', true)
        }
        for(const el of quatElGroup) {
          el.prop('disabled', false)
        }
        for(const el of rotMatrixElGroup) {
          el.prop('disabled', true)
        }
      } else if (this.value == 'rotMatrix') {
        for(const el of axisAngleElGroup) {
          el.prop('disabled', true)
        }
        for(const el of quatElGroup) {
          el.prop('disabled', true)
        }
        for(const el of rotMatrixElGroup) {
          el.prop('disabled', false)
        }
      } else {
        throw Error('Unrecognized radio button value.')
      }
    });

    // Run once to initialise
    // angleAxisToQuat()
    // Set the quaternion to the default value and then draw the graph from that
    console.log('Changing quat values...')
    quatWEl.val(1)
    quatXEl.val(0)
    quatYEl.val(0)
    quatZEl.val(0)
    console.log('Checking quat radio button...')
    $('input[type=radio][value=quaternion]').prop('checked', true).trigger('click')

    drawGraph(math.matrix([[1,0,0],[0,1,0],[0,0,1]]))
    quatChanged()

    // Register event handler for user now that we have finished touching the values
    for (const el of axisAngleElGroup) {
      el.on('input', function (e) {
        angleAxisChanged()
      })
    }
    for (const el of quatElGroup) {
      el.on('input', function (e) {
        quatChanged()
      })
    }
    for (const el of rotMatrixElGroup) {
      el.on('input', function (e) {
        rotMatrixChanged()
      })
    }
  } // init()

  function angleAxisChanged() {
    console.log('angleAxisChanged() called.')
    const angle = angleEl.val()
    const axisX = axisXEl.val()
    const axisY = axisYEl.val()
    const axisZ = axisZEl.val()

    const quatW = Math.cos(angle/2)
    const quatX = axisX*Math.sin(angle/2)
    const quatY = axisY*Math.sin(angle/2)
    const quatZ = axisZ*Math.sin(angle/2)

    var quaternion = math.matrix([ quatW, quatX, quatY, quatZ ]) // wxyz
    quaternion = math.divide(quaternion, math.norm(quaternion))
    const rotMatrix = quatToRotMatrix(quaternion)
    updateQuatEl(rotMatrix)
    updateRotMatrixEl(rotMatrix)
    updateGraph(rotMatrix)
  }

  function quatChanged() {
    console.log('quatChanged() called.')
    const quatW = quatWEl.val()
    const quatX = quatXEl.val()
    const quatY = quatYEl.val()
    const quatZ = quatZEl.val()
    var quaternion = math.matrix([ quatW, quatX, quatY, quatZ ]) // wxyz
    console.log('quat='+quaternion)
    quaternion = math.divide(quaternion, math.norm(quaternion))
    const rotMatrix = quatToRotMatrix(quaternion)

    updateAngleAxisEl(rotMatrix)
    updateRotMatrixEl(rotMatrix)
    updateGraph(rotMatrix)
  }

  function rotMatrixChanged() {
    m00 = parseFloat(rot00El.val())
    m01 = parseFloat(rot01El.val())
    m02 = parseFloat(rot02El.val())
    m10 = parseFloat(rot10El.val())
    m11 = parseFloat(rot11El.val())
    m12 = parseFloat(rot12El.val())
    m20 = parseFloat(rot20El.val())
    m21 = parseFloat(rot21El.val())
    m22 = parseFloat(rot22El.val())
    rotArray = [[ m00, m01, m02 ], [ m10, m11, m12 ], [ m20, m21, m22 ]]
    rotMatrix = math.matrix(rotArray)
    updateAngleAxisEl(rotMatrix)
    updateQuatEl(rotMatrix)
    updateGraph(rotMatrix)
  }

  function updateAngleAxisEl(rotMatrix) {
    m00 = rotMatrix.get([0,0])
    m01 = rotMatrix.get([0,1])
    m02 = rotMatrix.get([0,2])
    m10 = rotMatrix.get([1,0])
    m11 = rotMatrix.get([1,1])
    m12 = rotMatrix.get([1,2])
    m20 = rotMatrix.get([2,0])
    m21 = rotMatrix.get([2,1])
    m22 = rotMatrix.get([2,2])
    angle = Math.acos((m00 + m11 + m22 - 1)/2)
    x = (m21 - m12)/Math.sqrt((m21 - m12)*2+(m02 - m20)*2+(m10 - m01)*2)
    y = (m02 - m20)/Math.sqrt((m21 - m12)*2+(m02 - m20)*2+(m10 - m01)*2)
    z = (m10 - m01)/Math.sqrt((m21 - m12)*2+(m02 - m20)*2+(m10 - m01)*2)
    angleEl.val(angle.toPrecision(PRECISION))
    axisXEl.val(x.toPrecision(PRECISION))
    axisYEl.val(y.toPrecision(PRECISION))
    axisZEl.val(z.toPrecision(PRECISION))
  }

  function updateQuatEl(rotMatrix) {
    console.log('updateQuatEl() called')
    const quat = rotToQuatMatrix(rotMatrix)
    quatWEl.val(quat.get([0]).toPrecision(PRECISION))
    quatXEl.val(quat.get([1]).toPrecision(PRECISION))
    quatYEl.val(quat.get([2]).toPrecision(PRECISION))
    quatZEl.val(quat.get([3]).toPrecision(PRECISION))
  }

  function updateRotMatrixEl(rotMatrix) {
    rot00El.val(rotMatrix.get([0,0]).toPrecision(PRECISION))
    rot01El.val(rotMatrix.get([0,1]).toPrecision(PRECISION))
    rot02El.val(rotMatrix.get([0,2]).toPrecision(PRECISION))
    rot10El.val(rotMatrix.get([1,0]).toPrecision(PRECISION))
    rot11El.val(rotMatrix.get([1,1]).toPrecision(PRECISION))
    rot12El.val(rotMatrix.get([1,2]).toPrecision(PRECISION))
    rot20El.val(rotMatrix.get([2,0]).toPrecision(PRECISION))
    rot21El.val(rotMatrix.get([2,1]).toPrecision(PRECISION))
    rot22El.val(rotMatrix.get([2,2]).toPrecision(PRECISION))
  }

  function drawGraph(rotMatrix) {
    console.log('drawGraph() called. rotMatrix=' + rotMatrix)
    let calc = $('#calc-3d-rotation-graph')

    // let calc = $('#')
    var x1 = [0, 1];
    var y1 = [0, 0];
    var z1 = [0, 0];
    var x2 = [0, 0];
    var y2 = [0, 1];
    var z2 = [0, 0];

    graphContainerEl = document.getElementById('graph-container');
    var data = []
    add_axis(data, math.matrix([0,0,0]), math.matrix([1,0,0]), 'blue')
    add_axis(data, math.matrix([0,0,0]), math.matrix([0,1,0]), 'blue')
    add_axis(data, math.matrix([0,0,0]), math.matrix([0,0,1]), 'blue')

    const translation = math.matrix([0, 0, 0])

    var vector = math.matrix([1, 0, 0])
    var result = math.multiply(rotMatrix, vector)
    add_axis(data, translation, math.add(translation,result), 'orange')
    vector = math.matrix([0, 1, 0])
    result = math.multiply(rotMatrix, vector)
    add_axis(data, translation, math.add(translation,result), 'orange')
    vector = math.matrix([0, 0, 1])
    result = math.multiply(rotMatrix, vector)
    add_axis(data, translation, math.add(translation,result), 'orange')

    var layout = {
      scene:{
        aspectmode: "manual",
        aspectratio: {
          x: 1, y: 1, z: 1,
        },
        xaxis: {
          range: [-10, 10],
        },
        yaxis: {
          range: [-10, 10],
        },
        zaxis: {
          range: [-10, 10],
        }
      },
    };

    // react() updates existing plot
    Plotly.react(graphContainerEl, data, layout);
  }

  function updateGraph(rotMatrix) {
    console.log('updateGraph() called. rotMatrix=' + rotMatrix)
    let calc = $('#calc-3d-rotation-graph')

    // let calc = $('#')
    var x1 = [0, 1];
    var y1 = [0, 0];
    var z1 = [0, 0];
    var x2 = [0, 0];
    var y2 = [0, 1];
    var z2 = [0, 0];

    graphContainerEl = document.getElementById('graph-container');
    var data = []
    // add_axis(data, math.matrix([0,0,0]), math.matrix([1,0,0]), 'blue')
    // add_axis(data, math.matrix([0,0,0]), math.matrix([0,1,0]), 'blue')
    // add_axis(data, math.matrix([0,0,0]), math.matrix([0,0,1]), 'blue')

    const translation = math.matrix([0, 0, 0])

    var vector = math.matrix([1, 0, 0])
    var result = math.multiply(rotMatrix, vector)
    add_axis(data, translation, math.add(translation,result), 'orange')
    vector = math.matrix([0, 1, 0])
    result = math.multiply(rotMatrix, vector)
    add_axis(data, translation, math.add(translation,result), 'orange')
    vector = math.matrix([0, 0, 1])
    result = math.multiply(rotMatrix, vector)
    add_axis(data, translation, math.add(translation,result), 'orange')

    var layout = {
      scene:{
        aspectmode: "manual",
        aspectratio: {
          x: 1, y: 1, z: 1,
        },
        xaxis: {
          range: [-10, 10],
        },
        yaxis: {
          range: [-10, 10],
        },
        zaxis: {
          range: [-10, 10],
        }
      },
    };

    // react() updates existing plot
    // Data array has to be wrapped in another array
    Plotly.restyle(graphContainerEl, 
      {
        type: 'scatter3d',
        mode: 'lines',
        x: [[1,3]],
        y: [[5,6]],
        z: [[7,8]],
        opacity: 1.0,
        line: {
          width: 2,
          color: 'green',
          // colorscale: 'Viridis'
        },
        showlegend: false,
      },1);

  }

  // Call init() from anon function (namespace)
  init()
})()
</script>

<style>

div.hbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.vbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

</style>



