
<div id="calc-3d-rotation-graph" class="calculator hbox">
  <div id="graph-container"></div>

    <div class="vbox">
      <b>Axis-Angle</b>
      <input type="radio" name="inputType" value="axisAngle"/>
      <table>
        <tbody>
          <tr>
            <td style="max-width: 20px;">\(\theta\)</td>
            <td><input name="angle" value="0"></input></td>
            <td style="padding-left: 0px;">rad</td>
          </tr>
          <tr>
            <td>x</td>
            <td><input name="axisX" value="0"/></td>
          </tr>
          <tr>
            <td>y</td>
            <td><input name="axisY" value="0"/></td>
          </tr>
          <tr>
            <td>z</td>
            <td><input name="axisZ" value="0"/></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div style="width: 2em;"></div>

    <div class="vbox">
      <b>Quaternion</b>
      <input type="radio" name="inputType" value="quaternion"/>
      <table>
        <tbody>
          <tr>
            <td>w</td>
            <td><input name="quatW"></input></td>
          </tr>
          <tr>
            <td>x</td>
            <td><input name="quatX"></input></td>
          </tr>
          <tr>
            <td>y</td>
            <td><input name="quatY"></input></td>
          </tr>
          <tr>
            <td>z</td>
            <td><input name="quatZ"></input></td>
          </tr>
        </tbody>
      </table>
    </div>

</div>

<!--
######################################################################
# SCRIPTS
######################################################################
-->

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/6.2.2/math.js"></script>
<script>

function add_axis2(data, start_point, end_point) {
  console.log('start_point='+start_point)
  console.log('end_point='+end_point)
  x = [start_point.get([0]), end_point.get([0])]
  y = [start_point.get([1]), end_point.get([1])]
  z = [start_point.get([2]), end_point.get([2])]
  data.push(
    {
      type: 'scatter3d',
      mode: 'lines',
      x: x,
      y: y,
      z: z,
      opacity: 1.0,
      line: {
        width: 2,
        color: 'blue',
        colorscale: 'Viridis'
      }
    }
  )
}

function quatToRotMatrix(quat) {
  console.log('quat='+quat)
  const w = quat.get([0])
  const x = quat.get([1])
  const y = quat.get([2])
  const z = quat.get([3])
  var matrixArray = [
    [1 - 2*y*y - 2*z*z, 2*x*y - 2*z*w, 2*x*z + 2*y*w],
    [2*x*y + 2*z*w, 1 - 2*x*x - 2*z*z, 2*y*z - 2*x*w],
    [2*x*z - 2*y*w, 2*y*z + 2*x*w, 1 - 2*x*x - 2*y*y],
  ]
  return math.matrix(matrixArray)
}


(function() {
  let calc = $('#calc-3d-rotation-graph')

    // let calc = $('#')
  var x1 = [0, 1];
  var y1 = [0, 0];
  var z1 = [0, 0];
  var x2 = [0, 0];
  var y2 = [0, 1];
  var z2 = [0, 0];

  TESTER = document.getElementById('graph-container');
  var data = []
  add_axis2(data, math.matrix([0,0,0]), math.matrix([1,0,0]))
  add_axis2(data, math.matrix([0,0,0]), math.matrix([0,1,0]))
  add_axis2(data, math.matrix([0,0,0]), math.matrix([0,0,1]))

  var quaternion = math.matrix([ 1.0, 0.5, 0.2, -0.5]) // wxyz
  quaternion = math.divide(quaternion,math.norm(quaternion))
  const rotMatrix = quatToRotMatrix(quaternion)

  const translation = math.matrix([5, 0, 0])

  var vector = math.matrix([1, 0, 0])
  var result = math.multiply(rotMatrix, vector)
  add_axis2(data, translation, math.add(translation,result))
  vector = math.matrix([0, 1, 0])
  result = math.multiply(rotMatrix, vector)
  add_axis2(data, translation, math.add(translation,result))
  vector = math.matrix([0, 0, 1])
  result = math.multiply(rotMatrix, vector)
  add_axis2(data, translation, math.add(translation,result))

  var layout = {
    scene:{
    aspectmode: "manual",
    aspectratio: {
      x: 1, y: 1, z: 1,
      },
    xaxis: {
      range: [-10, 10],
    },
    yaxis: {
      range: [-10, 10],
    },
    zaxis: {
      range: [-10, 10],
    }},
  };

  Plotly.plot(TESTER, data, layout);


    const angleEl = calc.find("[name='angle']")
    const axisXEl = calc.find("[name='axisX']")
    const axisYEl = calc.find("[name='axisY']")
    const axisZEl = calc.find("[name='axisZ']")
    const quatWEl = calc.find("[name='quatW']")
    const quatXEl = calc.find("[name='quatX']")
    const quatYEl = calc.find("[name='quatY']")
    const quatZEl = calc.find("[name='quatZ']")

    const quatElGroup = [
      quatWEl,
      quatXEl,
      quatYEl,
      quatZEl,
    ]

    // angleEl.on('input', function (e) {
    //     angleAxisToQuat()
    // })
    // axisXEl.on('input', function (e) {
    //     angleAxisToQuat()
    // })
    // axisYEl.on('input', function (e) {
    //     angleAxisToQuat()
    // })
    // axisZEl.on('input', function (e) {
    //     angleAxisToQuat()
    // })

    quatWEl.on('input', function (e) {
      quatChanged()
    })
    quatXEl.on('input', function (e) {
      quatChanged()
    })
    quatYEl.on('input', function (e) {
      quatChanged()
    })
    quatZEl.on('input', function (e) {
      quatChanged()
    })

    // Register radio buttons
    $('input[type=radio][name=inputType]').change(function() {
      if (this.value == 'axisAngle') {
        for(const el of quatElGroup) {
          el.prop('disabled', true)
        }
      } else if (this.value == 'quaternion') {
        console.log('quaternion')
      }
    });

    function quatChanged() {
      const quatW = quatWEl.val()
      const quatX = quatXEl.val()
      const quatY = quatYEl.val()
      const quatZ = quatZEl.val()
      var quaternion = math.matrix([ quatW, quatX, quatY, quatZ ]) // wxyz
      quaternion = math.divide(quaternion,math.norm(quaternion))
      const rotMatrix = quatToRotMatrix(quaternion)

      updateGraph(rotMatrix)
    }

    function updateGraph(rotMatrix) {
      console.log('updateGraph() called. rotMatrix=' + rotMatrix)
      let calc = $('#calc-3d-rotation-graph')

      // let calc = $('#')
      var x1 = [0, 1];
      var y1 = [0, 0];
      var z1 = [0, 0];
      var x2 = [0, 0];
      var y2 = [0, 1];
      var z2 = [0, 0];

      TESTER = document.getElementById('graph-container');
      var data = []
      add_axis2(data, math.matrix([0,0,0]), math.matrix([1,0,0]))
      add_axis2(data, math.matrix([0,0,0]), math.matrix([0,1,0]))
      add_axis2(data, math.matrix([0,0,0]), math.matrix([0,0,1]))

      const translation = math.matrix([5, 0, 0])

      var vector = math.matrix([1, 0, 0])
      var result = math.multiply(rotMatrix, vector)
      add_axis2(data, translation, math.add(translation,result))
      vector = math.matrix([0, 1, 0])
      result = math.multiply(rotMatrix, vector)
      add_axis2(data, translation, math.add(translation,result))
      vector = math.matrix([0, 0, 1])
      result = math.multiply(rotMatrix, vector)
      add_axis2(data, translation, math.add(translation,result))

      var layout = {
        scene:{
          aspectmode: "manual",
          aspectratio: {
            x: 1, y: 1, z: 1,
          },
          xaxis: {
            range: [-10, 10],
          },
          yaxis: {
            range: [-10, 10],
          },
          zaxis: {
            range: [-10, 10],
          }
        },
      };

      // react() updates existing plot
      Plotly.react(TESTER, data, layout);
    }

    function angleAxisToQuat() {
        const angle = angleEl.val()
        const axisX = axisXEl.val()
        const axisY = axisYEl.val()
        const axisZ = axisZEl.val()

        const quatW = Math.cos(angle/2)
        const quatX = axisX*Math.sin(angle/2)
        const quatY = axisY*Math.sin(angle/2)
        const quatZ = axisZ*Math.sin(angle/2)

        quatWEl.text(quatW.toPrecision(4))
        quatXEl.text(quatX.toPrecision(4))
        quatYEl.text(quatY.toPrecision(4))
        quatZEl.text(quatZ.toPrecision(4))
    }

    // Run once to initialise
    angleAxisToQuat()
})()
</script>

<style>

div.hbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.vbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

</style>



