
<div id="calc-quaternion-to-rotation-matrix" class="calculator hbox">

  <div class="vbox">
    <b>Quaternion</b>

    <table>
      <tbody>
        <tr>
          <td>w</td>
          <td><input name="quatW"></input></td>
        </tr>
        <tr>
          <td>x</td>
          <td><input name="quatX"></input></td>
        </tr>
        <tr>
          <td>y</td>
          <td><input name="quatY"></input></td>
        </tr>
        <tr>
          <td>z</td>
          <td><input name="quatZ"></input></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="width: 2em;"></div>

  <div class="vbox">
      <b>Rotation Matrix</b>
      <table class="matrix">
          <tbody>
              <tr>
                  <td><label name="matrix00">0</label></td>
                  <td><label name="matrix01">0</label></td>
                  <td><label name="matrix02">0</label></td>
              </tr>
              <tr>
                  <td><label name="matrix10">0</label></td>
                  <td><label name="matrix11">0</label></td>
                  <td><label name="matrix12">0</label></td>
              </tr>
              <tr>
                  <td><label name="matrix20">0</label></td>
                  <td><label name="matrix21">0</label></td>
                  <td><label name="matrix22">0</label></td>
              </tr>
          </tbody>
      </table>
  </div>

</div>

<!--
######################################################################
# SCRIPTS
######################################################################
-->

<script>
(function() {
    let calc = $('#calc-quaternion-to-rotation-matrix')
    quatWEl = calc.find('[name="quatW"]')
    quatXEl = calc.find('[name="quatX"]')
    quatYEl = calc.find('[name="quatY"]')
    quatZEl = calc.find('[name="quatZ"]')
    quatWEl.on('input', function (e) {
        quatToRotMatrix()
    })
    quatXEl.on('input', function (e) {
        quatToRotMatrix()
    })
    quatYEl.on('input', function (e) {
        quatToRotMatrix()
    })
    quatZEl.on('input', function (e) {
        quatToRotMatrix()
    })

    function quatToRotMatrix() {
        const w = quatWEl.val()
        const x = quatXEl.val()
        const y = quatYEl.val()
        const z = quatZEl.val()

        var matrix = [
        [1 - 2*y*y - 2*z*z, 2*x*y - 2*z*w, 2*x*z + 2*y*w],
        [2*x*y + 2*z*w, 1 - 2*x*x - 2*z*z, 2*y*z - 2*x*w],
        [2*x*z - 2*y*w, 2*y*z + 2*x*w, 1 - 2*x*x - 2*y*y],
        ]

        // Update matrix with calculated values
        for (var i = 0; i <= 2; i++) {
            for(var j = 0; j <=2; j++) {
                calc.find('[name="matrix' + i + j + '"]').text(matrix[i][j].toPrecision(4))
            }
        }
    }
})()
</script>