{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
<!-- This file is used to render all the single tag pages, e.g. /tags/electronics/ 
  Make sure it has the same columns tags as in main_content.html -->
<article class="col-md-6 col-xl-8 order-3 order-md-2">
  {{ partial "breadcrumbs.html" . }}
  <header>
    <p class="f6 b helvetica tracked">
      {{ humanize .Section | upper }}
    </p>
    <h1 class="f1">
      {{ .Title }}
    </h1>
  </header>
  <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray content">
    {{ if .Sections }}
    <h1>Sections</h1>
    {{ end }}
    {{ range .Sections.ByTitle }}
    <li>
      <a href="{{.Permalink}}">{{.Title}}</a>
    </li>
    {{ end }}

    {{ if .Pages }}
    <h1>Pages</h1>
    {{ end }}
    {{ range .Pages.ByTitle }}
    <li>
      <a href="{{.Permalink}}">{{.Title}}</a>
    </li>
    {{ end }}

    {{ .Content }}
  </div>
  {{ template "_internal/disqus.html" . }}
</article>

<!-- LOAD LIGHTBOX FOR IMAGES -->
{{ partial "load-photoswipe.html" . }}
{{ end }}