{{/* Shortcode for embedded circuitjs circuits in pages/posts:
  Args:
    data: Encoded circuit data as provided by circuitjs when you click the File->Export As URL menu. Data is after the ctz= in the URL.
  */}}
{{ $data := .Get "data"}}
{{/* Build a full URL to circuitjs from the provided encoded data. We need to make sure to htmlUnescape and safeHTML this later on */}}
{{ $url := "&hideMenu=true&hideSidebar=true" | printf "%s%s" $data | printf "%s%s" "https://www.falstad.com/circuit/circuitjs.html?ctz=" | printf "%s" }}
<div class="circuitjs-container" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <iframe src="{{ $url | htmlUnescape | safeHTML }}" width=500 height=500></iframe>
  <div>(<a href="https://www.falstad.com/circuit/circuitjs.html?ctz={{ .Get "data" | htmlUnescape | safeHTML }}">full page version</a>)</div>
</div>